
/* http://paletton.com/#uid=33x0u0kqQ-xgwLilSEty0uJzont */

body {
  background-color: black;
  color: #2675B1;
  font-family: "Lucida Console", Monaco, monospace;
}

.instructions {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 130%;
  margin-bottom: 10px;
  color: #6DA6D2;
}

.repo-link {
 margin-left: auto;
 margin-right: auto;
 width: 500px;
 text-align: center;
 font-size: 150%;
 margin-top: 20px;
}

a , a.visited{
  color: #6DA6D2;
}

.board-container {
  margin: 50px;
}

.board {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.board td {
  width: 33.3%;
  height: 33.3%;
  border: 3px solid #2675B1;
}

td {
  text-align: center;
  vertical-align: middle;
}

.superposition table {
  width: 100%;
  height: 100%;
}

.superposition td {
  border: 0px;
}

.player-x {
  color: #FFC929;
}

.player-o {
  color: #FF6629;
}

.classical .mark {
   font-size: 120px;
   vertical-align: -20px;
}

.mark {
  transition: all 100ms ease;
}

.mark .turn {
  font-size: 40%;
}

.superposition .mark {
  font-size: 30px;
}

.player-x.mark.highlight {
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFDE7B , 0 0 20px #FFC929 , 0 0 30px #BB8C00;
}

.player-o.mark.highlight {
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFA17B , 0 0 20px #FF6629 , 0 0 30px #BB3500;
}


/*  React CSS Transitions */

.mark-transition-enter {
  opacity: 0.01;
  transition: opacity 70ms ease-in;
}

.mark-transition-enter.mark-transition-enter-active {
  opacity: 1;
}

.mark-transition-leave {
  opacity: 1;
  transition: opacity 70ms ease-out;
}

.mark-transition-leave.mark-transition-leave-active {
  opacity: 0.01;
}
